In [2]:
import pandas as pd
import numpy as np

In [13]:
time_series = pd.read_csv("Dataset/Input/mitbih_train.csv", header=None)
#time_series.insert(0, 'ID', range(1, 1 + len(time_series)))
#last_column = time_series.columns[-1]
#time_series = time_series.groupby(last_column).apply(lambda x: x.sample(n=1000, replace = True, random_state = 42)).reset_index(drop=True)
#time_series = time_series.iloc[:, :-1]

In [14]:
time_series.head()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,0.977941,0.926471,0.681373,0.245098,0.154412,0.191176,0.151961,0.085784,0.058824,0.049020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.960114,0.863248,0.461538,0.196581,0.094017,0.125356,0.099715,0.088319,0.074074,0.082621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.000000,0.659459,0.186486,0.070270,0.070270,0.059459,0.056757,0.043243,0.054054,0.045946,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.925414,0.665746,0.541436,0.276243,0.196133,0.077348,0.071823,0.060773,0.066298,0.058011,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.967136,1.000000,0.830986,0.586854,0.356808,0.248826,0.145540,0.089202,0.117371,0.150235,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
new_time_series = time_series[[187]].copy()
new_time_series.insert(0, 'ID', range(1, 1 + len(new_time_series)))
new_time_series.head()

   ID  187
0   1  0.0
1   2  0.0
2   3  0.0
3   4  0.0
4   5  0.0

In [19]:
labels = pd.read_csv("Dataset/Anonymized/ooout_10_10.csv",header = None)
labels.head()

,0,1,2,3,4,5,6,7,8,9,...,180,181,182,183,184,185,186,187,188,189
0,25185.0,[1.0-1.0],[0.8566775321960449-0.966707766056061],[0.4853420257568359-0.7879161238670349],[0.2475569993257522-0.4980694949626922],[0.0945945978164672-0.3069497942924499],[0.1196054220199584-0.2084942013025284],[0.1154791191220283-0.1621621549129486],[0.0737100765109062-0.1340852081775665],[0.0614250600337982-0.1115288212895393],...,[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],bbbbaaaaaaaabbbbbbbbbbbbbbbbbbbbbbbbbbbbbaaaaa...,Group: 60
1,77847.0,[1.0-1.0],[0.8566775321960449-0.966707766056061],[0.4853420257568359-0.7879161238670349],[0.2475569993257522-0.4980694949626922],[0.0945945978164672-0.3069497942924499],[0.1196054220199584-0.2084942013025284],[0.1154791191220283-0.1621621549129486],[0.0737100765109062-0.1340852081775665],[0.0614250600337982-0.1115288212895393],...,[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],bbbbaaaaaaaabbbbbbbbbbbbbbbbbbbbbbbbbbbbbaaaaa...,Group: 60
2,78143.0,[1.0-1.0],[0.8566775321960449-0.966707766056061],[0.4853420257568359-0.7879161238670349],[0.2475569993257522-0.4980694949626922],[0.0945945978164672-0.3069497942924499],[0.1196054220199584-0.2084942013025284],[0.1154791191220283-0.1621621549129486],[0.0737100765109062-0.1340852081775665],[0.0614250600337982-0.1115288212895393],...,[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],bbbbaaaaaaaabbbbbbbbbbbbbbbbbbbbbbbbbbbbbaaaaa...,Group: 60
3,81049.0,[1.0-1.0],[0.8566775321960449-0.966707766056061],[0.4853420257568359-0.7879161238670349],[0.2475569993257522-0.4980694949626922],[0.0945945978164672-0.3069497942924499],[0.1196054220199584-0.2084942013025284],[0.1154791191220283-0.1621621549129486],[0.0737100765109062-0.1340852081775665],[0.0614250600337982-0.1115288212895393],...,[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],bbbbaaaaaaaabbbbbbbbbbbbbbbbbbbbbbbbbbbbbaaaaa...,Group: 60
4,80517.0,[1.0-1.0],[0.8566775321960449-0.966707766056061],[0.4853420257568359-0.7879161238670349],[0.2475569993257522-0.4980694949626922],[0.0945945978164672-0.3069497942924499],[0.1196054220199584-0.2084942013025284],[0.1154791191220283-0.1621621549129486],[0.0737100765109062-0.1340852081775665],[0.0614250600337982-0.1115288212895393],...,[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],[0.0-0.0],bbbbaaaaaaaabbbbbbbbbbbbbbbbbbbbbbbbbbbbbaaaaa...,Group: 60

In [22]:
# Rename column 0 to ID in labels
labels.rename(columns={0: 'ID'}, inplace=True)
new_time_series.rename(columns={187: 'Label'}, inplace=True)

# Merge labels with new_time_series based on ID
merged_df = pd.merge(new_time_series, labels, on='ID')

# Display the first few rows of the merged dataframe
merged_df.head()

,ID,Label,1,2,3,4,5,6,7,8,...,180,181,182,183,184,185,186,label,188,189
0,56,0.0,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],...,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-0.996655523777008],[0.0-0.9370370507240297],[0.0-0.5943396091461182],[0.0-0.5],[0.0-0.7423167824745177],aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,Group: 87
1,78,0.0,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],...,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-0.996655523777008],[0.0-0.9370370507240297],[0.0-0.5943396091461182],[0.0-0.5],[0.0-0.7423167824745177],aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,Group: 87
2,118,0.0,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],...,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-0.996655523777008],[0.0-0.9370370507240297],[0.0-0.5943396091461182],[0.0-0.5],[0.0-0.7423167824745177],aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,Group: 87
3,127,0.0,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],...,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-0.996655523777008],[0.0-0.9370370507240297],[0.0-0.5943396091461182],[0.0-0.5],[0.0-0.7423167824745177],aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,Group: 87
4,207,0.0,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],...,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-0.996655523777008],[0.0-0.9370370507240297],[0.0-0.5943396091461182],[0.0-0.5],[0.0-0.7423167824745177],aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,Group: 87

In [23]:
null_values = new_time_series['Label'].isnull().sum()
print(f"Number of null values in 'Label' column: {null_values}")

Number of null values in 'Label' column: 0

In [25]:
merged_df.pop(188)
merged_df.pop(189)
merged_df.rename(columns={'label': 187}, inplace=True)
merged_df.head()

,ID,Label,1,2,3,4,5,6,7,8,...,178,179,180,181,182,183,184,185,186,187
0,56,0.0,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],...,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-0.996655523777008],[0.0-0.9370370507240297],[0.0-0.5943396091461182],[0.0-0.5],[0.0-0.7423167824745177]
1,78,0.0,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],...,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-0.996655523777008],[0.0-0.9370370507240297],[0.0-0.5943396091461182],[0.0-0.5],[0.0-0.7423167824745177]
2,118,0.0,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],...,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-0.996655523777008],[0.0-0.9370370507240297],[0.0-0.5943396091461182],[0.0-0.5],[0.0-0.7423167824745177]
3,127,0.0,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],...,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-0.996655523777008],[0.0-0.9370370507240297],[0.0-0.5943396091461182],[0.0-0.5],[0.0-0.7423167824745177]
4,207,0.0,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],...,[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-1.0],[0.0-0.996655523777008],[0.0-0.9370370507240297],[0.0-0.5943396091461182],[0.0-0.5],[0.0-0.7423167824745177]

In [30]:
# Function to calculate the median of an interval string
def interval_median(interval_str):
    lower, upper = map(float, interval_str.strip('[]').split('-'))
    return (lower + upper) / 2

# Apply the function to columns 1 to 187
for col in range(1, 188):
    merged_df[col] = merged_df[col].apply(interval_median)

# Display the first few rows of the updated dataframe
merged_df.head()

,ID,Label,1,2,3,4,5,6,7,8,...,178,179,180,181,182,183,184,185,186,187
0,56,0.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.498328,0.468519,0.29717,0.25,0.371158
1,78,0.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.498328,0.468519,0.29717,0.25,0.371158
2,118,0.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.498328,0.468519,0.29717,0.25,0.371158
3,127,0.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.498328,0.468519,0.29717,0.25,0.371158
4,207,0.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.498328,0.468519,0.29717,0.25,0.371158

In [31]:
label_counts = merged_df['Label'].value_counts()
print(label_counts)

Label
0.0    994
4.0    923
2.0    919
1.0    800
3.0    494
Name: count, dtype: int64

In [32]:
merged_df.to_csv("tryout_10_10.csv", index=False)